95-179-169-114.sslip.io, pentor.95-179-169-114.sslip.io {
    encode zstd gzip

    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        reverse_proxy web:80
    }
}

lab.95-179-169-114.sslip.io {
    encode zstd gzip

    header {
        X-Robots-Tag "noindex, nofollow, noarchive"
        Cache-Control "no-store"
    }

    reverse_proxy lab:8080
}

http://95.179.169.114 {
    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        reverse_proxy web:80
    }
}
